<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarityWave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px">
                <li><a href="#home">Home</a></li>
                <li><a href="{{ url_for('main.aboutus_page') }}">About</a></li>
                
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 'admin' %}
                        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>  <!-- Admin Dashboard link -->
                    {% else %}
                        <li><a href="{{ url_for('main.no_permission') }}">Dashboard</a></li>  <!-- Regular user "no permission" page -->
                    {% endif %}
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                {% endif %}
                
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>
