<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ClarityWave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
    .login-image {
        width: 100%;  
        height: auto; 
        max-width: 100%; 
    }
    </style>
</head>
<body>
    {% include 'header.html' %}

    <section class="login-section">
        <img src="{{ url_for('static', filename='images/login.svg') }}" class="login-image">
        
        <div class="login-container">
            <h2>Log In to Unlock Calm and Clarity!</h2>
            <form method="POST" action="{{ url_for('main.login') }}">
                {{ form.hidden_tag() }}  <!-- CSRF token -->
                
                <label for="email">Email:</label>
                {{ form.email(class="form-control", id="email") }}
                
                <label for="password">Password:</label>
                {{ form.password(class="form-control", id="password") }}
                
                <button type="submit" class="login-button">Login</button>
            </form>
            
            <p>Don't have an account? <a href="{{ url_for('main.signup') }}">Sign Up</a></p>
        </div>
    </section>
    
    {% include 'footer.html' %}
</body>
</html>
