<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% include 'header.html' %}

{% block content %}
<h1 class="mb-4 text-primary">Events</h1>

{% if events %}
    <ul>
        {% for event in events %}
        <li>
            <strong>{{ event.title }}</strong><br>
            Location: {{ event.location }}<br>
            Date: {{ event.date_time }}<br>
            Description: {{ event.description }}<br>
            <a href="{{ event.link }}" target="_blank">More Info</a>
        </li>
        <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No events available.</p>
{% endif %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>