<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Main Page</title>
    <style>
        .rectangle {
            width: 200px;
            height: 100px;
            background-color: lightgray;
            margin: 10px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 100px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    {% include 'header.html' %}

    <h1>Main Page</h1>
    <div class="rectangle" onclick="window.location.href='/events'">Events</div>
    <div class="rectangle" onclick="window.location.href='/podcasts'">Podcasts</div>
    <div class="rectangle" onclick="window.location.href='/hotlines'">Hotlines</div>
    
    {% include 'footer.html' %}
</body>
</html>
