<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Mental Health Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    
{% block content %}
  <h1>You don't have permission to view this page!</h1>
  <p>If you believe this is a mistake, please contact an admin.</p>
{% endblock %}

{% include 'footer.html' %}
</body>
</html>
