<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>

    {% include 'header.html' %}


    <h1>Recommendations</h1>
    <ul>
        <li>
            <span>Recommended: Event 1</span>
            <button onclick="window.location.href='/mainpage'">Go to Main Page</button>
        </li>
        <li>
            <span>Recommended: Event 2</span>
            <button onclick="window.location.href='/mainpage'">Go to Main Page</button>
        </li>
    </ul>

    {% include 'footer.html' %}
</body>
</html>
